@page
@model ListStudentsModel
@{
}

<table class="table">
    <thead>
        <tr>
            <th>PPS</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>DOB</th>
            <th>Gender</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            // list all of the properties.
        <tr>
            <td>@student.PPS</td>
            <td>@student.FirstName</td>
            <td>@student.LastName</td>          
            <td>@student.DOB</td>
            <td>@student.Gender</td>
            

            <td> <a asp-page="EditStudentDetails" asp-route-id="@student.PPS">Details</a> </td>
        </tr>
        }
    </tbody>
</table>

